.slider-container {
  width: 100%;
  height: 60vh;
  position: relative;
 

  
}

/* Swiper */
.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark gradient overlay */
.slider-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0.1) 100%
  );
  z-index: 5;
}

/* Caption like image */
.slide-caption {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 10;
  max-width: 550px;
}

.slide-caption h1 {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.1;
  color: white;
}

.slide-caption p {
  margin: 15px 0 30px;
  font-size: 1.2rem;
  opacity: 0.9;
}

/* Button */
.cta-button {
  padding: 14px 36px;
  font-size: 16px;
  font-weight: 600;
  background: #ffc107;
  border: none;
  color: #000;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;

}

.cta-button:hover {
  background: #ffb300;
  
}

/* Swiper fix */
.swiper {
  overflow: hidden;
}
